.benefits{
  &__title{
    margin-bottom: 48px;
  }
  &__list{
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
  }
  &__list-item{
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, .2);
    flex: 1 0 calc(33.333% - 20px);
    min-width: 300px;
    margin: 10px;
    padding: 36px;
    text-align: center;
    &__img{
      width: 56px;
      height: 56px;
    }
    &__text{
      margin-top: 36px;
      font-size: 1.2em;
      font-weight: 400;
    }
  }
} 