.news {
  &__title {
    margin-bottom: 48px;
  }

  &__wrapper-subscribe {
    flex: 0 0 35%;

    &__suptitle {
      color: #5f5f5f;
      font-size: 1.15em;
    }

    &__title {
      color: #3c3c3c;
      font-weight: 500;
      font-size: 2em;
      line-height: 1.2;
      margin-bottom: 0.5rem;
    }

    &__text {
      padding: 12px 24px 12px 0;
      color: #a2a2a2;
      font-size: 1.15em;
    }

    &__form-input {
      border: none;
      border-bottom: 1px solid #3c3c3c;
      padding: 20px 0;
      width: 100%;

      &::placeholder {
        color: #a2a2a2;

      }
    }
    &__form-label{
      margin-top: 20px;
    }
    &__form-submit{
      background: #607f75;
      font-size: 1.15em;
      padding: 13px 24px;
      color: #fff;
      transition: all .2s;
      &:hover{
        opacity: .75;
      }
    }
  }

  &__wrapper-list {
    flex: 0 0 60%;

    &__item {
      position: relative;
      flex: 0 0 45%;

      a {
        text-decoration: none;
      }

      &::before {
        content: "Блог";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%) rotate(-90deg);
        font-weight: 500;
      }
    }
    &__item:hover &__item-img{
      opacity: 1;
    }
    &__item:hover &__item-title{
      transform: translateY(-30px);
    }
    &__item-img {
      position: relative;
      height: 300px;
      overflow: hidden;
      opacity: .6;
      transition: all .5s;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
        max-height: 100%;
        object-position: center;
      }
    }

    &__item-time {
      padding: 8px 0;
      color: #a2a2a2;
      font-size: 1.15em;
    }
    &__item-title{
      font-weight: 500;
      margin-top: 30px;
      transition: all .5s;
    }
  }
}