.products {
  &__top {
    padding: 36px 0;
  }

  &__nav {
    padding: 20px;
    width: 280px;
    margin: 0 24px 24px 0;
    border: 1px solid #e4e8eb;
  }

  &__nav-title {
    display: none;
  }

  &__nav-list {
    padding: 0;
    list-style: none;

    
    &__item-button{
      width: 100%;
      font-size: 1.15em;
      line-height: 2;
      color: #555;
      background: #eee;
      transition: 0.3s;
      padding: 12px 20px;
      margin-bottom: 6px;
      border-radius: 4px;
      &:hover{
        background: #f9f9f9;
        color: #607f75;
      }
      text-align: left;
    }
  }
  &__list{
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0 -10px 20px;
  }
  &__list-item{
    flex: 1 0 calc(33.333% - 20px);
    margin: 10px;
    min-width: 270px;
  }
}