html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button:focus,
input:focus {
	outline: transparent;
}

button {
	@include no-btn;
}
address{
	font-style: normal;
}

a{
	color: inherit;
}

img{
	max-width: 100%;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.container{
	margin: 0 auto;
	width: 90%;
	max-width: 1140px;
}

.logo{
	&__img{
		max-width: 62px;
	}
	&__text{
		font-weight: 300;
		color: #888;
		margin-left: 28px;
	}

}
.title{
	font-weight: 500;
	font-size: 2rem;
	color: #3c3c3c;
}

.check{
	&__input{
		display: none;
	}
	&__text{
		position: relative;
		padding-left: 30px;
		display: inline-block;
		color: #a2a2a2;
		font-size: 0.85em;
		max-width: 220px;
		&::before{
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			border: 3px solid #fff;
    	outline: 1px solid #3c3c3c;
		}
	}
	&__input:checked + &__text::before{
		background-color: #3c3c3c;
	}

}