html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button:focus,
input:focus {
	outline: transparent;
}

button {
	@include no-btn;
}
address{
	font-style: normal;
}

a{
	color: inherit;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.container{
	margin: 0 auto;
	width: 90%;
	max-width: 1140px;
}

.logo{
	&__img{
		max-width: 62px;
	}
	&__text{
		font-weight: 300;
		color: #888;
		margin-left: 28px;
	}

}
.title{
	font-weight: 500;
	font-size: 2rem;
	color: #3c3c3c;
}