<nav class="aside">
  <h3 class="aside__title">
    Категории
  </h3>
  <ul class="aside__list">
    <li class="aside__list-item">
      <button class="aside__list-item__button">
        HealthTea коллекция фито-чаев
      </button>
    </li>
    <li class="aside__list-item">
      <button class="aside__list-item__button">
        Авторская методика исследования клетки
      </button>
    </li>
    <li class="aside__list-item">
      <button class="aside__list-item__button">
        Все товары
      </button>
    </li>
    <li class="aside__list-item">
      <button class="aside__list-item__button">
        Линейка delta
      </button>
    </li>
    <li class="aside__list-item">
      <button class="aside__list-item__button">
        Линейка GalaFITOLAB
      </button>
    </li>
    <li class="aside__list-item">
      <button class="aside__list-item__button">
        Печатная продукция
      </button>
    </li>
    <li class="aside__list-item">
      <button class="aside__list-item__button">
        Противопаразитарная линейка 9-11
      </button>
    </li>
    <li class="aside__list-item">
      <button class="aside__list-item__button">
        Товары по акциям
      </button>
    </li>
  </ul>
</nav>