<section class="products">
  <div class="container">
    <div class="products__top flex --align-center --just-space">
      <h2 class="title products__title">
        Товары
      </h2>
      <ul class="breadcrumbs flex --align-center">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__item-link" href="#">
            Главная страница
          </a>
        </li>
        <li class="breadcrumbs__item">
          Товары
        </li>
      </ul>
    </div>
    <div class="products__wrapper flex --just-space">
      @@include('./_10_aside.html')

      @@include('./_12_not-found.html')
    </div>
  </div>
</section>