<section class="contact">
  <div class="container">
    <div class="contact__top flex --just-space --align-center ">
      <h2 class="title contact__title">
        Контакты
      </h2>
      @@include('./_breadcrumbs.html')

    </div>
    <div class="contact__wrapper flex --align-str">
      <div class="contact__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A1c3b78b7ce52d814bd65c8547c30c696854610c12d6b3c2b5fb8f3c151a4ac3e&amp;source=constructor"
          width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <div class="contact__content">
        <h3 class="contact__content-title">
          Свяжитесь с нами
        </h3>
        <p class="contact__content-item">
          Телефон: +7 (771) 444-41-44
        </p>
        <p class="contact__content-item">
          E-Mail:
          <a href="#">
            gfcom.y@gmail.com
          </a>
        </p>
        <p class="contact__content-item">
          Казахстан, Алматы, "Бизнес-Сити", Жамбыла, 114, 1 этаж (угол Байтурсынова)
        </p>
        <p class="contact__content-item">
          Пн-Сб / с 9-00 до 19-00 Вс / с 9-00 до 16-00
        </p>
        <p class="contact__content-item">
          Россия, Краснодар, Кореновская, 1
        </p>
        <p class="contact__content-item">
          Пн-Пт / с 10-00 до 18-00
        </p>
        <p class="contact__content-item">
          Россия, Пермь, Ленина, 39
        </p>
        <p class="contact__content-item">
          Пн-Пт / с 10-00 до 18-00
        </p>
        <h3 class="contact__content-title">
          Социальные сети
        </h3>
        <ul class="contact__content-list">
          <li class="contact__content-list__item">
            <a href="#">
              <!-- <img src="../../img/" alt=""> -->
            </a>
          </li>
        </ul>
        <h3 class="contact__content-title">
          Бесплатная консультация по всем вопросам
        </h3>
        <form action="#" class="contact__content-form">
          <label class="contact__content-form__item">
            Ваше имя
            <input class="contact__content-form__item-input" type="text">
          </label>
          <label class="contact__content-form__item">
            Ваш email
            <input class="contact__content-form__item-input" type="email">
          </label>
          <label class="contact__content-form__item">
            Ваш номер
            <input class="contact__content-form__item-input" type="tel">
          </label>
          <button class="contact__content-form__submit">
            Отправить
          </button>
        </form>
      </div>
    </div>
  </div>
</section>