<section class="register">
  <div class="container">
    <div class="register__wrapper flex --just-center --align-str">
      <div class="register__login flex --just-center">
        <img class="register__login-bg" src="../../img/bg-register.jpg" alt="Регистрация">
        <h3 class="register__login-title title-line">
          Авторизация
        </h3>
        <p class="register__login-text">
          Авторизируйтесь, если вы уже у нас были
        </p>
        <a class="register__login-link" href="#">
          Авторизоваться
        </a>
      </div>
      <div class="register__content">
        <h3 class="register__content-title">
          Регистрация
        </h3>
        <form action="#" class="register__content-form">
          <div class="register__content-form__wrapper flex --just-space">
            <label class="register__content-form__item">
              <span class="register__content-form__item-label">Номер телефона:</span>
              <input type="tel" class="register__content-form__item-input">
            </label>
            <label class="register__content-form__item">
              <span class="register__content-form__item-label">Номер телефона партнера:</span>
              <input type="tel" class="register__content-form__item-input">
            </label>
          </div>
          <div class="register__content-form__wrapper flex --just-space">
            <label class="register__content-form__item">
              <span class="register__content-form__item-label">Ваше имя:</span>
              <input type="text" class="register__content-form__item-input">
            </label>
            <label class="register__content-form__item">
              <span class="register__content-form__item-label">Ваша фамилия:</span>
              <input type="text" class="register__content-form__item-input">
            </label>
          </div>
          <div class="register__content-form__wrapper flex --just-space">
            <label class="register__content-form__item">
              <span class="register__content-form__item-label">Адрес электронной почты:</span>
              <input type="email" class="register__content-form__item-input">
            </label>
            <label class="register__content-form__item">
              <span class="register__content-form__item-label">Ваша страна:</span>
              <input type="text" class="register__content-form__item-input">
            </label>
          </div>
          <div class="register__content-form__wrapper flex --just-space">
            <label class="register__content-form__item">
              <span class="register__content-form__item-label">Пароль:</span>
              <input type="password" class="register__content-form__item-input">
            </label>
            <label class="register__content-form__item">
              <span class="register__content-form__item-label">Подтвердите пароль:</span>
              <input type="password" class="register__content-form__item-input">
            </label>
          </div>
          <label class="register__content-form__check check">
            <input class="check__input" type="checkbox">
            <span class="check__text">
              Я ознакомлен(а) и принимаю условия <a href="#">политики конфиденциальности</a>
            </span>
          </label>
          <button class="register__content-form__submit">
            Зарегистрироваться
          </button>
        </form>
      </div>
    </div>
  </div>
</section>