<section class="login">
  <div class="container">
    <div class="login__wrapper flex --align-str">
      <div class="login__register flex --just-center">
        <img class="login__register-bg" src="../../img/bg-login.jpg" alt="">
        <h3 class="login__register-title title-line">
          Добро пожаловать
        </h3>
        <p class="login__register-text">
          У вас нет созданного аккаунта?
        </p>
        <a class="login__register-link" href="#">
          Зарегистрируйтесь
        </a>
      </div>
      <div class="login__content">
        <h3 class="login__content-title">
          Авторизация
        </h3>
        <form class="login__content-form" action="#">
          <label class="login__content-form__item">
            <span class="login__content-form__item-label">
              Номер телефона:
            </span>
            <input class="login__content-form__item-input" type="tel">
          </label>
          <label class="login__content-form__item">
            <span class="login__content-form__item-label">
              Пароль:
            </span>
            <input class="login__content-form__item-input" type="password">
          </label>
          <div class="login__content-form__wrapper flex --just-space --align-center">
            <label class="login__content-form__check check">
              <input class="check__input" type="checkbox">
              <span class="check__text">
                Запомнить меня
              </span>
            </label>
            <a class="register__content-form__forgot" href="#">
              Забыли пароль?
            </a>
          </div>
          <button class="register__content-form__submit">Войти</button>
        </form>
      </div>
    </div>
  </div>
</section>