<section class="product-page">
  <div class="container">
    <div class="product-page__wrapper flex">
      <div class="product-page__img">
        <span class="product-page__img-discount">
          -0%
        </span>
        <img src="../../img/product.png" alt="">
      </div>
      <div class="product-page__content">
        <h2 class="product-page__title">
          A9-11
        </h2>
        <a href="#" class="product-page__link">
          Противопаразитарная линейка 9-11
        </a>
        <ul class="product-page__options">
          <li class="product-page__options-item">
            <span>ОБЪЕМ:</span> 30мл.
          </li>
        </ul>
        <p class="product-page__text">
          Оказывает избирательное действие на аспергиллы, круглые и ленточные паразиты.
        </p>
        <p class="product-page__text">
          Рекомендуется в качестве БАД к пище для нормализации функционального состояния желудочно-кишечного тракта.
        </p>
        <p class="product-page__text">
          Оказывает противопаразитарное действие
        </p>
        <p class="product-page__text">
          БАД к пище экстракт «А 9-11» изготовлен из экологически чистых трав и содержит только натуральные ингредиенты.
        </p>
        <p class="product-page__text">
          Спорыш — повышает диурез, выводит с мочой избыток ионов натрия и хлора. Обладает противоглистным ,
          кровоостанавливающим, противовоспалительным действием.
        </p>
        <div class="product-page__price flex --just-space --align-center">
          <div class="product-page__price-wrapper flex">
            Цена:
            <b>
              815 ₽
            </b>
            <p class="product-page__price-green">
              /
              610 ₽
              <span>
                Для зарегистрированных <br>
                пользователей
              </span>
            </p>

          </div>
          <p class="product-page__price-points">
            10
            <span>
              Баллов <br>
              за покупку
            </span>
          </p>
        </div>
        <div class="product-page__cart flex --align-center --just-space">
          <div class="product-page__cart-count flex --just-space --align-center">
            <button class="product-page__cart-count__button">
              -
            </button>
            <span>1</span>
            <button class="product-page__cart-count__button">
              +
            </button>
          </div>
          <button class="product-page__cart-add">
            В корзину
          </button>
        </div>
        <div class="product-page__order">
          ЗАКАЗАТЬ ПО ТЕЛЕФОНУ:
          <div class="product-page__order-wrapper">
            <a class="product-page__order-link" href="#">+7 (771) 444-41-44</a>
            <a class="product-page__order-link" href="#">WHATSAPP</a>
          </div>
        </div>
        <div class="product-page__tabs flex">
          <ul class="product-page__tabs-buttons">
            <li class="product-page__tabs-buttons-item">
              <button class="product-page__tabs-buttons-item__button active">
                Состав
              </button>
            </li>
            <li class="product-page__tabs-buttons-item">
              <button class="product-page__tabs-buttons-item__button">
                Способ применения
              </button>
            </li>
            <li class="product-page__tabs-buttons-item">
              <button class="product-page__tabs-buttons-item__button">
                Противопоказания
              </button>
            </li>
            <li class="product-page__tabs-buttons-item">
              <button class="product-page__tabs-buttons-item__button">
                Терапевтическое действие
              </button>
            </li>
            <li class="product-page__tabs-buttons-item">
              <button class="product-page__tabs-buttons-item__button">
                Рекомендуется
              </button>
            </li>
            <li class="product-page__tabs-buttons-item">
              <button class="product-page__tabs-buttons-item__button">
                Возможные комбинации бальзамов
              </button>
            </li>
          </ul>
          <ul class="product-page__tabs-content">
            <li class="product-page__tabs-content__item active">
              <b>Комплексная программа N1:</b> А 9-11, В9-11, С9-11+ Гепатофлакт плюс Схема приема: 3 раза в день принять С9-11
              вместе с Гепатофлакт плюс, растворив в 50 мл воды, за 30 мин до еды принять А9-11 вместе с В9-11,
              растворив в 50 мл воды, за 15 мин до еды.
            </li>
            <li class="product-page__tabs-content__item">
              Семена тыквы, листья черного ореха, трава чабреца, цветки пижмы, сухая кора крушины, плоды гвоздики, корни
              девясила, трава спорыша, спирт этиловый, вода дистиллированная.

              При хранении допускается образование осадка.

              Изготовлен по специальной технологии.
            </li>
            <li class="product-page__tabs-content__item">
              <b>Комплексная программа N1:</b> А 9-11, В9-11, С9-11+ Гепатофлакт плюс Схема приема: 3 раза в день принять С9-11
              вместе с Гепатофлакт плюс, растворив в 50 мл воды, за 30 мин до еды принять А9-11 вместе с В9-11,
              растворив в 50 мл воды, за 15 мин до еды.
            </li>
            <li class="product-page__tabs-content__item">
              Семена тыквы, листья черного ореха, трава чабреца, цветки пижмы, сухая кора крушины, плоды гвоздики, корни
              девясила, трава спорыша, спирт этиловый, вода дистиллированная.

              При хранении допускается образование осадка.

              Изготовлен по специальной технологии.
            </li>
            <li class="product-page__tabs-content__item">
              <b>Комплексная программа N1:</b> А 9-11, В9-11, С9-11+ Гепатофлакт плюс Схема приема: 3 раза в день принять С9-11
              вместе с Гепатофлакт плюс, растворив в 50 мл воды, за 30 мин до еды принять А9-11 вместе с В9-11,
              растворив в 50 мл воды, за 15 мин до еды.
            </li>
            <li class="product-page__tabs-content__item">
              Семена тыквы, листья черного ореха, трава чабреца, цветки пижмы, сухая кора крушины, плоды гвоздики, корни
              девясила, трава спорыша, спирт этиловый, вода дистиллированная.

              При хранении допускается образование осадка.

              Изготовлен по специальной технологии.
            </li>
            <li class="product-page__tabs-content__item">
              <b>Комплексная программа N1:</b> А 9-11, В9-11, С9-11+ Гепатофлакт плюс Схема приема: 3 раза в день принять С9-11
              вместе с Гепатофлакт плюс, растворив в 50 мл воды, за 30 мин до еды принять А9-11 вместе с В9-11,
              растворив в 50 мл воды, за 15 мин до еды.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>