<footer class="footer">
  <div class="container">
    <div class="footer__top flex --just-space">
      <div class="footer__top-item">
        <h3 class="footer__top-item__title">
          GF COMPANY
        </h3>
        <p class="footer__top-item__text">
          GF COMPANY производитель и дистрибьютер уникальных препаратов на основе фитоформул. Компания осуществляет свою
          деятельность более 18 лет и имеет сертификаты качества продукции.
        </p>
      </div>
      <!-- /.footer__top-item -->

      <div class="footer__top-item">
        <h3 class="footer__top-item__title">
          Полезные ссылки
        </h3>
        <nav class="footer__top-item__links">
          <a class="footer__top-item__links-item" href="#">Акции</a>
          <a class="footer__top-item__links-item" href="#">Доставка и оплата</a>
          <a class="footer__top-item__links-item" href="#">Отзывы</a>
          <a class="footer__top-item__links-item" href="#">Статьи</a>
          <a class="footer__top-item__links-item" href="#">Производители</a>
          <a class="footer__top-item__links-item" href="#">Контакты</a>
        </nav>
      </div>
      <!-- /.footer__top-item -->

      <div class="footer__top-item">
        <h3 class="footer__top-item__title">
          Контакты
        </h3>
        <address class="footer__top-item__text">
          Казахстан, Алматы, "Бизнес-Сити", Жамбыла, 114, 1 этаж (угол Байтурсынова)
          Пн-Сб / с 9-00 до 19-00 Вс / с 9-00 до 16-00
        </address>
        <address class="footer__top-item__text">
          Россия, Краснодар, Кореновская, 1
          Пн-Пт / с 10-00 до 18-00
        </address>
        <address class="footer__top-item__text">
          Россия, Пермь, Ленина, 39
          Пн-Пт / с 10-00 до 18-00
        </address>
        <address class="footer__top-item__text">
          Телефон: +7 (771) 444-41-44
          E-Mail: gfcom.y@gmail.com
        </address>
      </div>
      <!-- /.footer__top-item -->

      <div class="footer__top-item">
        <h3 class="footer__top-item__title">
          Социальные сети
        </h3>
        <nav class="footer__top-item__links flex --just-space">
          <a href="#" class="footer__top-item__links-item img">
            <img src="https://img.icons8.com/metro/50/000000/instagram-new.png"/>
          </a>
          <a href="#" class="footer__top-item__links-item img">
            <img src="https://img.icons8.com/metro/26/000000/facebook-new--v2.png"/>
          </a>
          <a href="#" class="footer__top-item__links-item img">
            <img src="https://img.icons8.com/doodle/48/000000/youtube-play--v2.png"/>
          </a>
        </nav>
      </div>
      <!-- /.footer__top-item -->
    </div>
    <div class="footer__bottom flex">
      <p class="footer__bottom-item">
        © GF Company 2021
      </p>
      <p class="footer__bottom-item">
        <a href="#">
          Политика конфиденциальности
        </a>
      </p>
    </div>
  </div>
</footer>