<section class="banners">
  <div class="container">
    <div id="banners" class="splide banners__slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide banners__slide">
            <img class="banners__slide-img" src="../../img/banner-1.jpg" alt="">
            <span class="banners__slide-top">
              АКЦИИ
            </span>
            <h3 class="banners__slide-title">
              Зарегистрируйся на сайте и покупай продукт со скидкой от 20%
            </h3>
            <button class="banners__slide-button">
              Регистрация
            </button>
          </li>
          <li class="splide__slide banners__slide">
            <img class="banners__slide-img" src="../../img/banner-2.png" alt="">
            <h3 class="banners__slide-title">
              Зарегистрируйся на сайте и покупай продукт со скидкой от 20%
            </h3>
            <h4>
              Программа иммунитет 2.0 для детей — новый взгляд.
            </h4>
            <button class="banners__slide-button">
              Купить
            </button>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</section>