<section class="popular">
  <div class="container">
    <h2 class="title popular__title">
      Хиты продаж
    </h2>
    <div id="popular" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
          <li class="splide__slide product">
            <a class="product__img" href="#">
              <img src="../../img/product.png" alt="">
            </a>
            <a class="product__title" href="#">
              HealthTea «БОДРЯЩИЙ»
            </a>
            <p class="product__descr">
              Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
              Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
            </p>
            <div class="product__price flex --just-space --align-center">
              <p class="product__price-value">
                990 ₸
              </p>
              <div class="product__price-points flex">
                <span class="product__price-points__value">
                  3
                </span>
                <p class="product__price-points__text">
                  <span>Баллов</span>
                  за покупку
                </p>
              </div>
            </div>
            <div class="product__discount">
              <p class="product__discount-text">
                Для зарегистрированных пользователей
              </p>
              <p class="product__discount-button">
                690 ₸
              </p>
            </div>
            <div class="product__button flex --just-space --align-center">
              <button class="product__button-add">
                В корзину
              </button>
              <div class="product__button-count flex --just-space --align-center  ">
                <button class="product__button-count__item">
                  -
                </button>
                <span>
                  1
                </span>
                <button class="product__button-count__item">
                  +
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>