<section class="benefits">
  <div class="container">
    <h2 class="title benefits__title">Наши преимущества</h2>
    <ul class="benefits__list">
      <li class="benefits__list-item">
        <img class="benefits__list-item__img" src="../../img/box.svg" alt="img">
        <p class="benefits__list-item__text">
          Бесплатная доставка на пункты самовывоза по Казахстану и России
        </p>
      </li>
      <li class="benefits__list-item">
        <img class="benefits__list-item__img" src="../../img/card.svg" alt="img">
        <p class="benefits__list-item__text">
          Наиболее удобные
          способы оплаты
        </p>
      </li>
      <li class="benefits__list-item">
        <img class="benefits__list-item__img" src="../../img/leaf.svg" alt="img">
        <p class="benefits__list-item__text">
          Экологический чистый продукт
        </p>
      </li>
      <li class="benefits__list-item">
        <img class="benefits__list-item__img" src="../../img/growth.svg" alt="img">
        <p class="benefits__list-item__text">
          Собственное производство
        </p>
      </li>
      <li class="benefits__list-item">
        <img class="benefits__list-item__img" src="../../img/certificate.svg" alt="img">
        <p class="benefits__list-item__text">
          Вся продукция зарегистрирована.
          Продукция не содержит соли тяжелых металлов и пестициды. Без ГМО
        </p>
      </li>
      <li class="benefits__list-item">
        <img class="benefits__list-item__img" src="../../img/quality.svg" alt="img">
        <p class="benefits__list-item__text">
          Продукт произведен согласно со стандартами ХАССП
          (HACCP, Hazard Analysis and Critical Control Points)
        </p>
      </li>
    </ul>
  </div>
</section>