<section class="news">
  <div class="container">
    <h2 class="title news__title">
      Последние новости
    </h2>
    <div class="news__wrapper flex --just-space">
      <div class="news__wrapper-subscribe">
        <p class="news__wrapper-subscribe__suptitle">
          Будь всегда
        </p>
        <h3 class="news__wrapper-subscribe__title">
          В курсе событий
        </h3>
        <p class="news__wrapper-subscribe__text">
          Подпишитесь и получайте письма о новинка продукции, акциях и предложениях компании GF Company
        </p>
        <form action="#" class="news__wrapper-subscribe__form">
          <input class="news__wrapper-subscribe__form-input" type="text" placeholder="Ваш E-mail">
          <label class="news__wrapper-subscribe__form-label flex --just-space">
            <label class="check">
              <input class="check__input" type="checkbox">
              <span class="check__text">
                Я даю свое согласие на обработку моих персональных данных
              </span>
            </label>
            <button class="news__wrapper-subscribe__form-submit" type="submit">Отправить</button>
          </label>
        </form>
      </div>
      <!-- /news__wrapper-subscribe -->
      <div class="news__wrapper-list flex --just-space">
        <article class="news__wrapper-list__item">
          <a href="#">
            <div class="news__wrapper-list__item-img">
              <img src="../../img/news-1.jpg" alt="Новость">
            </div>
            <time class="news__wrapper-list__item-time">
              26.06.2020
            </time>
            <h3 class="news__wrapper-list__item-title">
              Герпес? Решение есть!
            </h3>
          </a>
        </article>
        <article class="news__wrapper-list__item">
          <a href="#">
            <div class="news__wrapper-list__item-img">
              <img src="../../img/news-1.jpg" alt="Новость">
            </div>
            <time class="news__wrapper-list__item-time">
              26.06.2020
            </time>
            <h3 class="news__wrapper-list__item-title">
              Герпес? Решение есть!
            </h3>
          </a>
        </article>
      </div>
      <!-- /news__wrapper-list -->

    </div>
  </div>
</section>