<section class="products">
  <div class="container">
    <div class="products__top flex --align-center --just-space">
      <h2 class="title products__title">
        Товары
      </h2>
      <ul class="breadcrumbs flex --align-center">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__item-link" href="#">
            Главная страница
          </a>
        </li>
        <li class="breadcrumbs__item">
          Товары 
        </li>
      </ul>
    </div>
    <div class="products__wrapper flex --just-space">
      <nav class="products__nav">
        <h3 class="products__nav-title">
          Категории
        </h3>
        <ul class="products__nav-list">
          <li class="products__nav-list__item">
            <button class="products__nav-list__item-button">
              HealthTea коллекция фито-чаев
            </button>
          </li>
          <li class="products__nav-list__item">
            <button class="products__nav-list__item-button">
              Авторская методика исследования клетки
            </button>
          </li>
          <li class="products__nav-list__item">
            <button class="products__nav-list__item-button">
              Все товары
            </button>
          </li>
          <li class="products__nav-list__item">
            <button class="products__nav-list__item-button">
              Линейка delta
            </button>
          </li>
          <li class="products__nav-list__item">
            <button class="products__nav-list__item-button">
              Линейка GalaFITOLAB
            </button>
          </li>
          <li class="products__nav-list__item">
            <button class="products__nav-list__item-button">
              Печатная продукция
            </button>
          </li>
          <li class="products__nav-list__item">
            <button class="products__nav-list__item-button">
              Противопаразитарная линейка 9-11
            </button>
          </li>
          <li class="products__nav-list__item">
            <button class="products__nav-list__item-button">
              Товары по акциям
            </button>
          </li>
        </ul>
      </nav>
      <ul class="products__list flex">
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>