<section class="products">
  <div class="container">
    <div class="products__top flex --align-center --just-space">
      <h2 class="title products__title">
        Товары
      </h2>
      @@include('./_breadcrumbs.html')
    </div>
    <div class="products__wrapper flex --just-space">
     @@include('./_10_aside.html')
      
      <ul class="products__list flex">
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
        <li class="products__list-item product">
          <a class="product__img" href="#">
            <img src="../../img/product.png" alt="">
          </a>
          <a class="product__title" href="#">
            HealthTea «БОДРЯЩИЙ»
          </a>
          <p class="product__descr">
            Поддержания функционального состояния желудочно-кишечного тракта (способствует улучшению пищеварения).
            Повышает тонус организма, существенно снижая воздействие неблагоприятных факторов окружающей среды.
          </p>
          <div class="product__price flex --just-space --align-center">
            <p class="product__price-value">
              990 ₸
            </p>
            <div class="product__price-points flex">
              <span class="product__price-points__value">
                3
              </span>
              <p class="product__price-points__text">
                <span>Баллов</span>
                за покупку
              </p>
            </div>
          </div>
          <div class="product__discount">
            <p class="product__discount-text">
              Для зарегистрированных пользователей
            </p>
            <p class="product__discount-button">
              690 ₸
            </p>
          </div>
          <div class="product__button flex --just-space --align-center">
            <button class="product__button-add">
              В корзину
            </button>
            <div class="product__button-count flex --just-space --align-center  ">
              <button class="product__button-count__item">
                -
              </button>
              <span>
                1
              </span>
              <button class="product__button-count__item">
                +
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>