//MEDIA: 1679
@media screen and (max-width: 1679px) {}

//!MEDIA: 1679

//MEDIA: 1439
@media screen and (max-width: 1439px) {}

//!MEDIA: 1439

//MEDIA: 1365
@media screen and (max-width: 1365px) {}

//!MEDIA: 1365

//MEDIA: 1359
@media screen and (max-width: 1359px) {}

//!MEDIA: 1359

//MEDIA: 1199
@media screen and (max-width: 1199px) {
  .header{
    &__top-list{
      &__item{
        font-size: 0.85em;
      }
    }
    &__main-left{
      flex: 0 0 77%;
    }
    &__main-phone{
      &__link{
        font-size: 1.2em;
      }
    }
  }
}

//!MEDIA: 1199

//MEDIA: 1023
@media screen and (max-width: 1023px) {}

//!MEDIA: 1023

//MEDIA: 991
@media screen and (max-width: 991px) {
  .header{
    &__mobile{
      display: block;
      padding: 10px 0;
      background: #fff;
      position: fixed;
      border-bottom: 1px solid #eee;
      top: 0;
      right: 0;
      left: 0;
      
    }
    &__mobile-nav{
      transform: translateX(-120%);
      padding: 24px 0;
      z-index: 10;
      background-color: #fff;
      position: fixed;
      width: 260px;
      top: 0;
      left: 0;
      min-height: 100%;
      transition: all .3s;
      &.active{
        transform: translateX(0);
      }
      &__top{
        padding: 0 16px;
        margin-bottom: 16px;
      }
      &__top-title{
        font-weight: 500;
      }
      &__list-item{
        display: block;
        padding: 16px 24px;
        color: #555;
        transition: all .2s;
        text-decoration: none;
        &:hover{
          background: #f9f9f9;
        }
      }
      &__select{
        margin-top: 16px;
      }
      &__select-item{
        padding: 12px;
        border-radius: 3px;
        &.active{
          background: #f9f9f9;
        }
        img{
          width: 98px;
          height: 66px;
        }
      }
    }
    &__mobile-wrapper{
      background-color: #fff;
      position: relative;
      z-index: 3;
    }
    &__mobile-form{
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      background-color: #fff;
      padding: 15px 0;
      z-index: 2;
      transform: translateY(-80%);
      transition: all .2s;
      &.active{
        transform: translateY(0);
      }
      &__input{
        font-size: 1.3em;
        padding: 5px 18px;
        width: 100%;
        border: 1px solid #eee;
        border-radius: 3px;
      }
      &__submit{
        border-radius: 3px;
        background: var(--main-green);
        color: #fff;
        padding: 14px 20px;
        font-weight: 300;
        text-transform: uppercase;
        margin-left: 20px;
        transition: all .2s;
        &:hover{
          background: #669485;
        }
      }
    }
    &__mobile-icons{
      button{
        margin: 0 10px;
      }
    }
    &__mobile-cart{
      margin: 0 30px;
      text-decoration: none;
      &__count{
        display: none;
      }
      &__img{
        width: 22px;
        margin-right: 8px;
      }
      &__text{
        white-space: nowrap;
        color: #000;
        font-size: 1.3em;
      }
    }
    &__mobile-search{
      svg{
        width: 18px;
        height: 18px;
        path{
          fill: #212529;

        }
      }
    }
    &__mobile-burger{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 15px;
      width: 22px;
      span{
        width: 100%;
        height: 1.5px;
        background-color: #212529;
      }
    }
    &__fixed{
      display: none;
    }
    &__top{
      display: none;
    }
    &__nav{
      display: none;
    }
    &__main{
      display: none;
    }
  }
}

//!MEDIA: 991

//MEDIA: 767
@media screen and (max-width: 767px) {}

//!MEDIA: 767

//MEDIA: 639
@media screen and (max-width: 639px) {}

//!MEDIA: 639

//MEDIA: 369
@media screen and (max-width: 369px) {
  .header{
    &__mobile-cart{
      margin: 0;
      position: relative;
      &__text{
        display: none;
      }
      &__count{
        font-size: 0.85em;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(30%, -50%);
        padding: 2px 8px;
        color: #fff;
        background-color: var(--main-green);
        border-radius: 50%;
      }
    }
  }
}

//!MEDIA: 369 