//MEDIA: 1679
@media screen and (max-width: 1679px) {}

//!MEDIA: 1679

//MEDIA: 1439
@media screen and (max-width: 1439px) {}

//!MEDIA: 1439

//MEDIA: 1365
@media screen and (max-width: 1365px) {}

//!MEDIA: 1365

//MEDIA: 1359
@media screen and (max-width: 1359px) {}

//!MEDIA: 1359

//MEDIA: 1199
@media screen and (max-width: 1199px) {
  .header{
    &__top-list{
      &__item{
        font-size: 0.85em;
      }
    }
    &__main-left{
      flex: 0 0 77%;
    }
    &__main-phone{
      &__link{
        font-size: 1.2em;
      }
    }
  }
  .news{
    &__wrapper{
      flex-wrap: wrap;
    }
    &__wrapper-list,
    &__wrapper-subscribe{
      flex: 0 0 100%;
    }
    &__wrapper-list{
      order: -1;
      margin-bottom: 20px;
    }
  }
  .footer{
    &__top{
      flex-wrap: wrap;
    }
    &__top-item{
      margin: 20px 0;
      flex: 0 0 50%;
      &:nth-child(even){
        text-align: right;
      }
      &__links{
        max-width: 80%;
        margin-left: auto;
      }
    }
  }
  .register{
    &__wrapper{
      flex-direction: column;
    }
    &__login,
    &__content{
      flex: 0 0 100%;
    }
    &__content{
      order: -1;
    }
  }
  .login{
    background-image: url('../img/bg-login.jpg');
    &__wrapper{
      flex-direction: column;
    }
    &__register,
    &__content{
      flex: 0 0 100%;
    }
    &__register{
      z-index: 2;
    }
    &__content{
      background-color: #fff;
      margin: 24px 0;
      order: -1;
    }
  }
  .product-page{
    &__wrapper{
      flex-direction: column;
    }
    &__img,
    &__content{
      width: 100%;
      flex: 0 0 100%;
    }
    &__img{
      text-align: center;
    }
    &__price{
      flex-direction: column;
    }
    &__price-points{
      margin-top: 10px;
    }
    &__cart{
      flex-direction: column;
    }
    &__cart-add{
      margin-top: 10px;
    }
  }
}

//!MEDIA: 1199

//MEDIA: 1023
@media screen and (max-width: 1023px) {}

//!MEDIA: 1023

//MEDIA: 991
@media screen and (max-width: 991px) {
  body{
    font-size: 12px;
  }
  main{
    margin-top: 75px;
  }
  .header{
    &__mobile{
      display: block;
      padding: 10px 0;
      background: #fff;
      position: fixed;
      border-bottom: 1px solid #eee;
      top: 0;
      right: 0;
      left: 0;
      z-index: 20;
    }
    &__mobile-nav{
      box-shadow: 3px 0 6px rgba(0, 0, 0, .25);
      display: block;
      transform: translateX(-120%);
      padding: 24px 0;
      z-index: 21;
      background-color: #fff;
      position: fixed;
      width: 260px;
      top: 0;
      left: 0;
      min-height: 100%;
      transition: all .3s;
      &.active{
        transform: translateX(0);
      }
      &__top{
        padding: 0 16px;
        margin-bottom: 16px;
      }
      &__top-title{
        font-weight: 500;
      }
      &__list-item{
        display: block;
        padding: 16px 24px;
        color: #555;
        transition: all .2s;
        text-decoration: none;
        &:hover{
          background: #f9f9f9;
        }
      }
      &__select{
        margin-top: 16px;
      }
      &__select-item{
        padding: 12px;
        border-radius: 3px;
        &.active{
          background: #f9f9f9;
        }
        img{
          width: 98px;
          height: 66px;
        }
      }
    }
    &__mobile-wrapper{
      background-color: #fff;
      position: relative;
      z-index: 7;
    }
    &__mobile-form{
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      background-color: #fff;
      
      padding: 15px 0;
      z-index: 5;
      transform: translateY(-80%);
      transition: all .2s;
      &.active{
        transform: translateY(0);
      }
      &__input{
        font-size: 1.3em;
        padding: 5px 18px;
        width: 100%;
        border: 1px solid #eee;
        border-radius: 3px;
      }
      &__submit{
        border-radius: 3px;
        background: var(--main-green);
        color: #fff;
        padding: 14px 20px;
        font-weight: 300;
        text-transform: uppercase;
        margin-left: 20px;
        transition: all .2s;
        &:hover{
          background: #669485;
        }
      }
    }
    &__mobile-icons{
      button{
        margin: 0 10px;
      }
    }
    &__mobile-cart{
      margin: 0 30px;
      text-decoration: none;
      &__count{
        display: none;
      }
      &__img{
        width: 22px;
        margin-right: 8px;
      }
      &__text{
        white-space: nowrap;
        color: #000;
        font-size: 1.3em;
      }
    }
    &__mobile-search{
      svg{
        width: 18px;
        height: 18px;
        path{
          fill: #212529;

        }
      }
    }
    &__mobile-burger{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 15px;
      width: 22px;
      span{
        width: 100%;
        height: 1.5px;
        background-color: #212529;
      }
    }
    &__fixed{
      display: none;
    }
    &__top{
      display: none;
    }
    &__nav{
      display: none;
    }
    &__main{
      display: none;
    }
  }
  .banners{
    position: relative;
    z-index: 1;
    &__slide{
      padding: 32px 48px;
    }
    &__slide-img{
      width: 100%;
      height: 100%;
    }
    &__slide-title{
      max-width: 100%;
    }
  }
  .contact{
    &__top{
      flex-direction: column;
      padding: 18px 0;
    }
    &__wrapper{
      flex-wrap: wrap;
    }
    &__map,
    &__content{
      flex: 0 0 100%;
    }
    &__map{
      height: 400px;
    }
    &__content{
      padding: 21px;
    }
  }
}

//!MEDIA: 991

//MEDIA: 767
@media screen and (max-width: 767px) {
}

//!MEDIA: 767

//MEDIA: 639
@media screen and (max-width: 639px) {
  .aside{
      padding: 0px 20px;
      width: 100%;
    &__title{
      display: block;
      text-align: center;
      font-size: 1.5em;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      transition: all .3s;
      margin: 10px 0;
      &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../img/arrow-down.svg');
        background-size: cover;
        width: 18px;
        height: 18px;
        transition: all .3s;
      }
      &.active{
        &::after{
          transform: translateY(-10px) rotate(180deg);
        }
      }
    }
    &__list{
      max-height: 0;
      visibility: hidden;
      transition: max-height .3s linear;
      &.active{
        max-height: 1000px;
        visibility: visible;
      }
    }
  }
  .not-found{
    &__title{
      font-size: 1.5rem;
    }
  }
  .banners{
    &__slide{
      padding: 32px 24px;
    }
    &__slide-title{
      font-size: 1.3rem;
    }
  }
  .news{
    &__wrapper-subscribe{
      &__form-label{
        flex-wrap: wrap;
        label,
        button{
          flex: 0 0 100%;
        }
      }
      &__form-submit{
        margin-top: 20px;
      }
    }
    &__wrapper-list{
      flex-wrap: wrap;
      &__item{
        flex: 0 0 100%;
        margin-bottom: 20px;
        &::before{
          transform: translateX(0) rotate(0);
          background-color: rgba(255, 255, 255, .6);
          padding: 4px 12px;
          color: #3c3c3c;
          z-index: 3;
        }
      }
      &__item-img{
        height: 200px;
      }
      &__item-title{
        margin-top: 10px;
      }
      &:hover &__item-title{
        transform: translateY(0);
      }
    }
  }
  .products{
    &__top{
      padding: 18px 0;
      flex-direction: column;
    }
    &__wrapper{
      flex-direction: column;
    }
   
    &__list-item{
      min-width: 260px;
    }
  }
  .register{
    &__login{
      padding: 48px 24px;
    }
    &__content{
      margin: 48px 0 24px;
      padding: 20px 0;
    }
    &__content-form{
      &__wrapper{
        flex-direction: column;
      }
      &__item{
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 0.5em;
      }
    }
  }
  .login{
    background-image: url('');
    &__content{
      padding: 0;
    }
    &__register{
      padding: 48px 24px;
    }
    &__register-title{
      font-size: 1.5rem;
    }
  }
  .product-page{
    padding: 0;
    &__order{
      flex-direction: column;
      text-align: center;
    }
    &__tabs{
      flex-direction: column;
    }
    &__tabs-buttons,
    &__tabs-content{
      flex: 0 0 100%;
      margin: 0;
    }
    &__tabs-buttons{
      margin: 0 auto;
    }
  }
  .footer{
    padding: 25px 0 0;
    &__top-item{
      flex: 0 0 100%;
      &:nth-child(even){
        text-align: left;
      }
      &__links{
        max-width: 100%;
      }
    }
    &__bottom{
      flex-direction: column;
    }
    &__bottom-item{
      margin-bottom: 10px;
    }
  }
}

//!MEDIA: 639

//MEDIA: 369
@media screen and (max-width: 369px) {
  .header{
    &__mobile-cart{
      margin: 0;
      position: relative;
      &__text{
        display: none;
      }
      &__count{
        font-size: 0.85em;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(30%, -50%);
        padding: 2px 8px;
        color: #fff;
        background-color: var(--main-green);
        border-radius: 50%;
      }
    }
  }
  .benefits{
    &__list-item{
      min-width: 250px;
      padding: 24px;
      &__text{
        margin-top: 20px;
      }
    }
  }
}

//!MEDIA: 369 