@import 'global/*.scss';
@import '../components/bem-blocks/**/*.scss';

/* NOTE - import here your style modules */

.title-line{
  position: relative;
  padding-bottom: 5px;
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 4px;
    background-color: #fff;
  }
}

@import 'media';